body {
  font-family: 'Sulphur Point', sans-serif;
}

.list-group-item {
  .bin {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .content {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          h3 {
              margin: 0 12px 0 0;
              color: cornflowerblue;
          }
          i {
              color: gray;
          }
      }
      .control {
          display: flex;
          justify-content: flex-start;
          align-items: center;
      }
  }
}

.modal {
  display: block;
  background-color: #cec7c090;
}

.messages-bin {
  position: fixed;
  top: 50px;
  left: 50px;
}